<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Update Employee Info</h1>
    <form id="updateEmployeeForm">
        <input type="text" id="id" placeholder="Employee ID" required>
        <input type="text" id="name" placeholder="Employee Name">
        <input type="text" id="contact" placeholder="Contact No">
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button type="submit">Update</button>
    </form>
    <script src="../controller/ajaxHandler.js"></script>
</body>
</html>
